@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    font-size: 14px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .layout-container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .grid-product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    grid-gap: 10px;
  }
  .cart-header-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 500px 180px 130px 80px;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  @media screen and (max-width: 1023.98px) {
    .cart-header-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .grid-product {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@layer utilities {
  .shadow-product {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  .shadow1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .search-catelog-header {
    @apply border-b-2 pb-3 font-semibold text-base border-[#0000000d] text-[#000000cc] flex gap-x-2 items-center;
  }
  .search-sidebar {
    @apply -translate-x-full lg:w-48 z-10 w-full fixed inset-0 lg:translate-x-0 bg-[#f5f5f5] min-h-screen p-4 lg:p-0 transition-all duration-300 lg:static overflow-auto;
  }
}
